/*

TemplateMo 550 Diagoona

https://templatemo.com/tm-550-diagoona

*/

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    overflow-x: hidden;
    color: white;
    background-image: url("/static/img/thunderstorm.svg");
    background-size: cover;
    background-color: #2C353C;
}

a {
    transition: all 0.3s ease;
    text-decoration: none;
}

ul { padding: 0; }
a:hover { text-decoration: none; }
button:focus { outline: none; }
p { line-height: 1.9; }


/*좌측상단 로고창 배치*/
.witcan{
    display: flex;
}
/*좌측하단 날씨 아이콘 배치 */
.lowcan{
    display: flex;
    align-items: center;
}
.wt-icon, .wt-loc, .wt-temp { margin-right: 20px;}
.wt-loc {font-size: 3rem;;}
.wt-temp {font-size: 2rem;
}


.tm-logo {
    margin-right: 20px;
    font-size: 85px;
}

.tm-slogan {
    font-size: 0.8rem; }



/* Page Background */
.tm-bg {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1000;
    background-color: rgba(0,0,0,0.15);
}
/* 페이지 반쪽 나누기*/
.tm-bg-left,
.tm-bg-right {
    position: relative;
    width: 50%;
    height: 100%;
}
/* 페이지 투명도 조절*/
.tm-bg-right { background-color: rgba(0,0,0,0.5); }

.tm-bg-left {
    border-top: 100vh solid transparent;
}
.tm-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}

.tm-row {
    display: flex;
}

.tm-col-left {
    width: 50%;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.tm-col-right {
    width: 50%;
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
}

.tm-content {
    max-width: 660px;
    margin-top: 50px;
    padding-right: 20px;
    font-family: 'Gowun Dodum', sans-serif;
}

/*섬네일 모서리 둥글게*/
.col {
    border-radius: 40px 40px 40px 40px / 40px 40px 40px 40px;

    /*투명도*/
    opacity: 0.8;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

/*섬네일 마우스 가져대면 선명*/
.col:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.tm-about { max-width: 525px; }


.tm-site-footer {
    padding: 40px 0 20px;
    max-width: 660px;
    font-size: 0.95rem;
}

.tm-col-footer { padding-left: 0; }
.tm-text-link { color: white; }

.tm-text-link:hover,
.tm-text-link:focus {
    color: #9CC;
}


/*임의로 추가해 넣은거*/

.thumbnails {
    justify-content: space-between;
}

.svg {
    width : 150px;
    height: 150px;
}

.float-right{float:right;}

.row-01 {
    font-family: 'Pacifico', cursive;
}
/*큰사이즈 이미지*/

.bigImgSize {
    max-width: 60%;
    max-height: 60%;
    position: absolute;
    left: 13.5%;
    top: 12%;
    border-radius: 40px 40px 40px 40px / 40px 40px 40px 40px;
}

/*dropdown*/

.btn {
    min-width: 10rem;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  background-color: rgba(249,249,249,0.8);
  display: block;
}
.dropdown-item {
    font-family: 'Gowun Dodum', sans-serif;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #000000;
}

