/*

TemplateMo 550 Diagoona

https://templatemo.com/tm-550-diagoona

*/

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    overflow-x: hidden;
    color: white;
    background-color: #2C353C;
}

a { 
    transition: all 0.3s ease; 
    text-decoration: none;
}

ul { padding: 0; }
a:hover { text-decoration: none; }
button:focus { outline: none; }
p { line-height: 1.9; }
.tm-logo { margin-right: 20px; }
.tm-slogan { font-size: 0.8rem; }

/* Navigation */
.navbar-expand-lg {
    padding-left: 0;
    padding-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link { padding: 0; }

.navbar-expand-lg .navbar-nav .tm-nav-link {
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    padding-bottom: 30px;
}

.nav-item { margin-right: 60px; }

.nav-item:last-child { margin-right: 0; }

.nav-item.active .tm-nav-link,
.nav-item:hover .tm-nav-link {
    color: #9CC;
}



/* Page Background */
.tm-bg {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1000;
}
/* 페이지 반쪽 나누기*/
.tm-bg-left,
.tm-bg-right {
    position: relative;
    width: 50%;
    height: 100%;
}
/* 페이지 투명도 조절*/
.tm-bg-right { background-color: rgba(0,0,0,0.5); }

.tm-bg-left {
    /*border-right: 230px solid rgba(0,0,0,0.5);*/
    border-top: 100vh solid transparent;
}
.tm-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tm-row { display: flex; }

.tm-col-left {
    width: 50%;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.tm-col-right {
    width: 50%;
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
}

.tm-content {
    max-width: 660px;
    margin-top: 50px;
    padding-right: 20px;
}

.tm-about { max-width: 525px; }

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(255,255,255,.8);
    box-shadow: 0 0 1px rgba(255,255,255,.8);
}

.tm-content-title { font-size: 1.5rem; }
hr { border-top: 1px solid white; }

.btn {
    padding: 10px 25px;
    border-radius: 0;
}

.btn-big {
    padding: 9px 40px;
    font-size: 1.2rem;;
}

.btn-primary {
    background-color: white;
    color: black;
    border: 0;
}

.btn-primary:hover {
    background-color: #9CC;
    color: black;
}

.tm-site-footer {
    padding: 40px 0 20px;
    max-width: 660px;
    font-size: 0.95rem;
}

.tm-col-footer { padding-left: 0; }
.tm-text-link { color: white; }

.tm-text-link:hover,
.tm-text-link:focus {
    color: #9CC;
}

/* Contact Search부분*/
.form-control,
textarea {
    color: white;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #999A9B;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 10px 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.form-control:focus {
    color: white;
    background-color: transparent;
    box-shadow: none;
    border-color: #9CC;
    outline: none;
}


.form-control::-webkit-input-placeholder { color: white; } /* Edge */
.form-control:-ms-input-placeholder { color: white; } /* Internet Explorer 10-11 */
.form-control::placeholder { color: white; }