<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WTW - what to where</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="../static/js/script.js"></script>
    <script type="text/javascript"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet"/>    <!-- https://fonts.google.com/ -->
    <link href="../static/fontawesome/css/all.min.css" rel="stylesheet"/> <!-- https://fontawesome.com/ -->
    <link href="../static/css/templatemo-diagoona.css" rel="stylesheet" />

    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200&display=swap" rel="stylesheet">

    <script type="text/javascript">
        function showClock() {
            var currentDate = new Date();
            var divClock = document.getElementById('divClock');
            var msg = " ";
            if (currentDate.getHours() > 12) {      //시간이 12보다 크다면 오후 아니면 오전
                msg += "PM ";
                msg += currentDate.getHours() - 12 + " : ";
            } else {
                msg += "AM ";
                msg += currentDate.getHours() + " : ";
            }

            msg += currentDate.getMinutes() + " ";

            divClock.innerText = msg;

            if (currentDate.getMinutes() > 58) {    //정각 1분전부터 빨강색으로 출력
                divClock.style.color = "red";
            }
            setTimeout(showClock, 1000);  //1초마다 갱신
        }
    </script>
</head>
<body onload="showClock()">
<div id="divClock" class="clock"> </div>
<!--여기까지 새로 작성된 부분-->
<!--</div> index.html 과 내용 동일 id만 다를 것 여기서부터 확인하면 됨 -->
    <div class="tm-container">  <!--전체 컨테이너-->
        <div class="tm-row pt-4 row-01">
            <div class="tm-col-left">
                <div class="tm-site-header witcan">
                    <i class="fas fa-temperature-high tm-logo"></i>
                    <div class="media-body">
                        <h1 class="tm-sitename text-uppercase">WTW</h1>
                        <p class="tm-slogon">What To Wear</p>
                    </div>
                </div>
            </div>
            <div class="tm-col-right">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item dr1" onclick="drop(1)">서울특별시</a></li>
                        <li><a class="dropdown-item dr2" onclick="drop(2)">인천광역시</a></li>
                        <li><a class="dropdown-item dr3" onclick="drop(3)">울산광역시</a></li>
                        <li><a class="dropdown-item dr4" onclick="drop(4)">대구광역시</a></li>
                        <li><a class="dropdown-item dr5" onclick="drop(5)">부산광역시</a></li>
                        <li><a class="dropdown-item dr6" onclick="drop(6)">대전광역시</a></li>
                        <li><a class="dropdown-item dr7" onclick="drop(7)">광주광역시</a></li>
                        <li><a class="dropdown-item dr8" onclick="drop(8)">세종자치특별시</a></li>
                        <li><a class="dropdown-item dr9" onclick="drop(9)">제주특별자치도</a></li>
                    </ul>
                    <!--                        <오늘 날씨 버튼></오늘>-->

                    <button type="button" id="BtnTM2" onclick="Today()" class="btn btn-secondary">Weather, Today
                    </button>

                </div>
            </div>
        </div>

        <div class="tm-row row-02"> <!--썸네일 -->
            <div class="tm-col-left">
                <section class="tm-content">
                    <h2 class="mb-5 tm-content-title"><img class="bigImgSize" id="mainImg" onclick="closeImg()"></h2>
                </section>
            </div>
            <div class="tm-col-right">
                <section class="tm-content">
                    <div class="row row-cols-3">
                        <img id="introImg1" alt="..." class="col" onclick="clickThumbnail(this.src)">
                        <img id="introImg2" alt="..." class="col" onclick="clickThumbnail(this.src)">
                        <img id="introImg3" alt="..." class="col" onclick="clickThumbnail(this.src)">
                    </div>
                </section>
            </div>
        </div>
        <div class="tm-row row-03">
            <div class="tm-col-left">
                <section class="tm-content lowcan">
                    <div class="wt-icon"></div>
                    <div class="wt-loc location"></div>
                    <div class="wt-temp temp"></div>

                </section>

            </div>
            <div class="tm-col-right">
                <section class="tm-content">
                    <table>
                        <thead>
                        <tr><h2>날씨 상세정보</h2></tr>
                        <tr><!--높이조절용공란--></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tb-col-1">
                                최고기온 / 최저기온
                            </td>
                            <td class="tb-col-2">
                                <span class="temp-min"></span><span>℃/</span>
                                <span class="temp-max"></span><span>℃</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tb-col-1">
                                습도
                            </td>
                            <td class="tb-col-2">
                                <span class="humidity"></span><span>%</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tb-col-1">자외선</td>
                            <td class="tb-col-2">
                                <span class="uvi"></span><span>uv</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
        <div class="tm-row row-04">
            <div class="tm-col-left text-start">

            </div>
            <div class="tm-col-right tm-col-footer">
                <footer class="tm-site-footer text-right">
                </footer>
            </div>
        </div>

        <!-- Background Divider -->
        <div class="tm-bg">
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>
<!--js 사용하려면 기본 제공되는 import 코드 다시 붙여넣어야 됨-->


</body>
</html>
